#wrap {
	width: 750px; /* 1024*768로 해상도를 맞추어서 설계 */
	/* 가운데 정렬을 위한 바깥쪽 여백 설정 */
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: #000040; /* 글 색상 */
}

table {
/* 	width: 100%; */
	border-collapse: collapse;
	font-color: #000022;
	font-size: 12px; /* 글꼴 크기 */
	line-height: 24px; /* 줄 간격 */
}

table td,th {
	border: #d5d8df solid 2px; /* 경계선 색상 스타일 굵기 */
}

td	{
	padding: 9px;
	
}

th {
	background: #004080;
	padding: 7px;
	color: white;
}

a {
	text-decoration: none; /* 링크 밑줄 없애기 */
	color: #000022; /* 글 색상 */
}

a:HOVER {
	text-decoration: underline; /* 밑줄 */
	color: #000022; /* 글 색상 */
}